name: Docker Fullstack CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./FundRaiser
          file: ./FundRaiser/backend.Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/crowd-backend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/crowd-backend:${{ github.run_number }}
          no-cache: true

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./fundraiserfrontend
          file: ./fundraiserfrontend/frontend.Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/crowd-frontend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/crowd-frontend:${{ github.run_number }}
          no-cache: true
